---
const comentarios = [
  {
    persona: "Janet F.",
    ciudad: "Valpara칤so",
    texto:
      "Excelente experiencia y apoyo en la gesti칩n otorgada a Marsol propiedades me dan la confianza aun con la distancia de dejar todo en manos de la corredora para gestionar el arriendo o venta de mi departamento.",
  },
  {
    persona: "Luis F.",
    ciudad: "Valpara칤so",
    texto:
      "Estoy muy agradecido y conforme con los servicios entregados por la Sra. Marlene. Me ayud칩 a ubicar y comprar el mejor departamento a disposici칩n en ese momento. Sus orientaciones fueron de mucha ayuda y sus servicios en los procesos  de legalizaci칩n de la compraventa, fueron impecables. Recomiendo a Marsol propiedades por su profesionalismo y el calor humano de su atenci칩n.",
  },
  {
    persona: "Mario N.",
    ciudad: "Vi침a del Mar",
    texto:
      "Mi experiencia con su agencia ha sido muy grata siempre dispuesta a solucionar problemas y con una agilidad muy buena al momento de solicitar algo, recomendable totalmente.",
  },
  {
    persona: "Williams Z.",
    ciudad: "Valpara칤so",
    texto:
      "Por medio del presente testimonio, deseo recomendar a la empresa Marsol propiedades, con la cual he tenido una relaci칩n comercial por m치s de 3 a침os. Lo m치s importante para un propietario es encontrar a los arrendatarios adecuados y correctos, para mi en lo personal, cada vez que he arrendado mi propiedad a trav칠s de Marsol propiedades, ellos lo han encontrado. Por el tiempo que llevamos trabajando juntos, puedo asegurar que esta es una compania responsable y en  la cual puedo confiar. Por ello es de mi agrado recomendarles ampliamente sus servicios por su excelencia y rapidez en encontrar un buen arrendatario.",
  },
  {
    persona: "Paula Mu침oz",
    ciudad: "Valpara칤so",
    texto:
      "Una corredora de propiedades comprometida con su trabajo, siempre est치 atenta a las necesidades que podamos tener como arrendatarios, mantiene un canal de comunicaci칩n fluido con la arrendataria adem치s de buscar siempre soluci칩n a las cosas que se puedan presentar. Recomiendo a Marsol Propiedades a ojos cerrados游눞.",
  },
];
---
<h2>Comentarios</h2>
<ul>
  {comentarios && comentarios.map((comentario, i) => <li class="skill" key={i}>{comentario.persona}</li>)}
</ul>
