---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content="Dedicados al rubro inmobiliario, compra, venta, arriendo y/o administración de propiedades. Profesionales en el área administrativa, comercial y jurídica.">
		<meta property="og:title="MarSol Propiedades | Compra Venta Arriendo Inmobiliario">
		<meta property="og:type" content="website">
		<meta property="og:description" content="Dedicados al rubro inmobiliario, compra, venta, arriendo y/o administración de propiedades. Profesionales en el área administrativa, comercial y jurídica.">
		<meta property="og:url" content="https://www.marsolpropiedades.cl/">
		<meta property="og:image" itemprop="image" content="https://www.marsolpropiedades.cl/logos/logo-completo.png">
		<meta property="twitter:title" content="MarSol Propiedades | Compra Venta Arriendo Inmobiliario">
		<meta property="twitter:description" content="Dedicados al rubro inmobiliario, compra, venta, arriendo y/o administración de propiedades. Profesionales en el área administrativa, comercial y jurídica.">
		<meta property="twitter:image" content="https://www.marsolpropiedades.cl/logos/logo-completo.png">
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style>
</style>